<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .nav{
            overflow: hidden;
        }
        .nav li{
            float: left;
            list-style: none;
            margin:0 20px;
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li>首页</li>
        <li>读书</li>
        <li>电影</li>
        <li>同城</li>
{#    </ul>#}
{#    <ul>#}
{#        {% for key,value in person.items %}#}
{#            <li>{{ key}}/{{value }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <table>#}
{#        <thead>#}
{#        <tr>#}
{#            <td>序号</td>#}
{#            <td>书名</td>#}
{#            <td>作者</td>#}
{#            <td>价格</td>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for book in books %}#}
{#            {% if forloop.first %}#}
{#                <tr style="background: red;">#}
{#            {% elif forloop.last %}#}
{#                <tr style="background: pink;">#}
{#            {% else %}#}
{#                <tr>#}
{#            {% endif %}#}
{#                <td>{{ forloop.counter }}</td>#}
{#                <td>{{ book.name }}</td>#}
{#                <td>{{ book.author }}</td>#}
{#                <td>{{ book.price }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{#    <ul>#}
{#        {% for comment in comments %}#}
{#            <li>{{ comment }}</li>#}
{#        {% empty %}#}
{#            暂时没有人评论#}
{#        {% endfor %}#}
{##}
{#    </ul>#}

</body>
</html>